.field {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  float: left;
  background: lightgrey; 
  box-sizing: border-box;
  border: 1px solid lightgrey;
}
.field-2{
	width:50%;
	height:50%;
}
.field-3{
	width:33%;
	height:33%;
}
.field-5{
	width:20%;
	height:20%;
}
.field-10{
	width:10%;
	height:10%;
}
.field-15{
	width:6.66%;
	height:6.66%;
}
.field-25{
	width:4%;
	height:4%;
}
.field-50{
	width:2%;
	height:2%;
}