.sizePickers{
    width: 50%;
    height: 3vw;
    min-width: 165px;
    margin: 0 auto;   
    background: lightgrey; 
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-top: 1%;
}

@media (max-width: 900px) {
  .sizePickers{
    float: center;
    width: 100%;
    height: 6vw;
  }
}


