.sizePickers{
    /*width: 17vw;*/
    width: 50%;
    height: 3vw;
    min-width: 165px;
    text-align: center;
    margin: 0 auto;   
    background: lightgrey; 
    border: 1px solid black;
    display: inline-block;
    float: right;
    box-sizing: border-box;
    padding-top: .7%;
    padding-bottom: .7%;
}


@media (max-width: 900px) {
  .sizePickers{
    float: center;
    width: 100%;
    height: auto;
  }
}


